:root {
  --blue-team: #40C1FF;
  --blue-team-dark: hsl(199, 100%, 44%);
  --red-team: #D13639;
  --red-team-dark: hsl(0, 79%, 57%);
  --accent-color: #e9cf8f;
  --text-color: #e9cf8f;
  --text-color-dark: #101316;
  --background-color: #101316;
  --background-light-color: #101316;
  --primary-font-family: impact;
  --secondary-font-family: impact;
  --logo-path: url(/pages/op-plugin-theming/active/logo.png);
}
